@charset "UTF-8";

body {
	font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.71429;
	font-weight: 400;
	letter-spacing: 0;
	color: #151515;
	background-color: #ffffff;
	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: subpixel-antialiased;
}

h1, h2, h3, h4, h5, h6, [class*='heading-'] {
	margin-top: 0;
	margin-bottom: 0;
	font-weight: 400;
	font-family: "Mangaba", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	letter-spacing: .05em;
	color: #151515;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, [class*='heading-'] a {
	color: inherit;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover, [class*='heading-'] a:hover {
	color: #3c6a36;
}

h4,
.heading-4 {
	font-size: 28px;
	line-height: 1;
	letter-spacing: 0;
	font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

@media (min-width: 768px) {
	h4,
	.heading-4 {
		font-size: 24px;
		line-height: 1.33333;
	}
}


/*
*
* Links
*/
a {
	transition: all 0.3s ease-in-out;
}

a, a:focus, a:active, a:hover {
	text-decoration: none;
}

a, a:focus, a:active {
	color: #3c6a36;
}

a:hover {
	color: #1f371c;
}

a[href*='tel'], a[href*='mailto'] {
	white-space: nowrap;
}

.link-hover {
	color: #1f371c;
}

.link-press {
	color: #1f371c;
}



/*
*
* Responsive units
*/
.unit {
	display: flex;
	flex: 0 1 100%;
	margin-bottom: -30px;
	margin-left: -20px;
}

.unit > * {
	margin-bottom: 30px;
	margin-left: 20px;
}

.unit-left
{
	flex: 0 0 auto;
	max-width: 100%;
}

.unit-spacing-sm {
	margin-bottom: -10px;
	margin-left: -16px;
}

.unit-spacing-sm > * {
	margin-bottom: 10px;
	margin-left: 16px;
}


/*
*
* Icons
*/
.icon {
	display: inline-block;
	font-size: 16px;
	line-height: 1;
}

.icon::before {
	position: relative;
	display: inline-block;
	font-weight: 400;
	font-style: normal;
	speak: none;
	text-transform: none;
}

.icon-circle {
	border-radius: 50%;
}

/*
*
* Page layout
*/
.page {
	position: relative;
	overflow: hidden;
	min-height: 100vh;
	text-align: center;
}

[data-x-mode] .page {
	opacity: 1;
}

html.boxed body {
	/* background: #f1efeb url(../images/bg-pattern-boxed.png) repeat fixed; */
}

@media (min-width: 1630px) {
	html.boxed .page {
		max-width: 1600px;
		margin-left: auto;
		margin-right: auto;
		box-shadow: 0 0 23px 0 rgba(1, 1, 1, 0.1);
	}
	html.boxed .rd-navbar-static {
		max-width: 1600px;
		margin-left: auto;
		margin-right: auto;
	}
	html.boxed .rd-navbar-static.rd-navbar--is-stuck {
		max-width: 1600px;
		width: 100%;
		left: calc(50% - 1600px);
		right: calc(50% - 1600px);
	}
}

/*
*
* Offsets
*/

h3 + h4 {
	margin-top: 13px;
}

h4 + h5 {
	margin-top: 19px;
}
h4 + p {
	margin-top: 16px;
}

h4 + .instafeed {
	margin-top: 2px;
}

/*
*
* RD Navbar
*/
@keyframes rd-navbar-slide-down {
	0% {
		transform: translateY(-100%);
	}
	100% {
		transform: translateY(0);
	}
}

@keyframes rd-navbar-slide-up {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(-100%);
	}
}

.rd-navbar-wrap, .rd-navbar,
.rd-menu,
.rd-navbar-nav,
.rd-navbar-panel, .rd-navbar-static .rd-menu, .rd-navbar-fixed .rd-navbar-nav-wrap, .rd-navbar-fixed .rd-navbar-submenu, .rd-navbar-project {
	transition: 0.35s all cubic-bezier(0.65, 0.05, 0.36, 1);
}

.rd-navbar--no-transition, .rd-navbar--no-transition * {
	transition: none !important;
}

.rd-navbar,
.rd-navbar.rd-navbar--is-clone {
	display: none;
}

.rd-navbar.rd-navbar-fixed + .rd-navbar.rd-navbar--is-clone,
.rd-navbar.rd-navbar-sidebar + .rd-navbar.rd-navbar--is-clone {
	display: none;
}

.rd-navbar {
	display: none;
	background: #ffffff;
}

/*
* @subsection  RD Navbar Static
*/
.rd-navbar-static {
	display: block;
}

.rd-navbar-project-hamburger {
	cursor: pointer;
	z-index: 1031;
}

.project-hamburger {
	display: flex;
	align-self: center;
	flex-direction: column;
	justify-content: space-between;
	height: 23px;
}

.project-hamburger > span {
	display: inline-block;
	align-self: flex-end;
	height: 3px;
	background: #151515;
}

.project-hamburger-arrow-top {
	width: 100%;
	transition: opacity .15s ease-in-out .3s;
}

.project-hamburger-arrow-center {
	width: 80%;
	transition: all .16s ease-in-out, opacity .15s ease-in-out .4s;
}

.project-hamburger-arrow-bottom {
	width: 60%;
	transition: all .32s ease-in-out, opacity .15s ease-in-out .5s;
}

.project-hamburger:hover > span {
	width: 100%;
}

.project-hamburger:hover .project-hamburger-arrow-top {
	animation: burger-hover .8s infinite ease-in-out alternate;
}

.project-hamburger:hover .project-hamburger-arrow-center {
	animation: burger-hover .8s infinite ease-in-out alternate forwards .16s;
}

.project-hamburger:hover .project-hamburger-arrow-bottom {
	animation: burger-hover .8s infinite ease-in-out alternate forwards .32s;
}

@keyframes burger-hover {
	0% {
		width: 100%;
	}
	50% {
		width: 50%;
		background: #eda407;
	}
	100% {
		width: 100%;
	}
}

@keyframes burger-hover-primary {
	0% {
		width: 100%;
	}
	50% {
		width: 50%;
		background: #3c6a36;
	}
	100% {
		width: 100%;
	}
}

.project-close {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	transform: rotate(45deg);
	z-index: -1;
}

.project-close span {
	position: absolute;
	background: #151515;
	transition: all .15s ease-in-out;
}

.project-close span:nth-child(1) {
	height: 0;
	width: 2px;
	top: 10%;
	left: 50%;
	margin-left: -1px;
	transition-delay: 0s;
}

.project-close span:nth-child(2) {
	width: 0;
	height: 2px;
	left: 10%;
	top: 50%;
	margin-top: -1px;
	transition-delay: .15s;
}

.project-hamburger-2 {
	display: flex;
	overflow: hidden;
	align-self: center;
	flex-direction: column;
	justify-content: space-between;
	height: 23px;
}

.project-hamburger-2 > span {
	position: relative;
	display: inline-block;
	align-self: flex-end;
	height: 2px;
	width: 100%;
	background: #151515;
	transition: width .2s ease;
}

.project-hamburger-2 > span::after {
	position: absolute;
	display: inline-block;
	content: '';
	top: 0;
	left: 0;
	height: inherit;
	width: inherit;
	background: #eda407;
	transform: translateX(-100%);
	animation: pagOutX .3s;
}

.project-hamburger-2:hover > span::after {
	animation: pagInX .3s forwards;
}

.project-hamburger-2:hover > span:nth-child(2)::after {
	animation-delay: .1s;
}

.project-hamburger-2:hover > span:nth-child(3)::after {
	animation-delay: .2s;
}

.project-hamburger-3 {
	display: flex;
	overflow: hidden;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
	height: 16px;
}

.project-hamburger-3 > span {
	position: relative;
	display: inline-block;
	height: 2px;
	width: 100%;
	background: #ffffff;
	transition: width .2s ease .3s;
}

.rd-navbar-project-hamburger.active .project-hamburger > span {
	opacity: 0;
}

.rd-navbar-project-hamburger.active .project-hamburger .project-hamburger-arrow-top {
	transition-delay: 0s;
}

.rd-navbar-project-hamburger.active .project-hamburger .project-hamburger-arrow-center {
	transition-delay: .1s;
}

.rd-navbar-project-hamburger.active .project-hamburger .project-hamburger-arrow-bottom {
	transition-delay: .2s;
}

.rd-navbar-project-hamburger.active .project-hamburger-3 .project-hamburger-arrow {
	width: 0;
	transition-delay: 0s;
}

.rd-navbar-project-hamburger.active .project-close > span:nth-child(1) {
	height: 80%;
	transition-delay: .3s;
}

.rd-navbar-project-hamburger.active .project-close > span:nth-child(2) {
	width: 80%;
	transition-delay: .45s;
}

/*
*
* RD Navbar Fixed
*/
.rd-navbar-fixed {
	display: block;
}


/**
*
* RD Navbar Modern
* =====================================================
*/
.rd-navbar-modern.rd-navbar-static .rd-navbar-main-outer {
	position: relative;
}

.rd-navbar-modern.rd-navbar-static .rd-navbar-main {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 1170px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 30px;
	transition: padding .35s ease-in-out;
}

.rd-navbar-modern.rd-navbar-static .rd-navbar-main.active .rd-navbar-nav-wrap {
	margin-right: 0;
}

.rd-navbar-modern.rd-navbar-static .rd-navbar-nav-wrap {
	display: flex;
	align-items: center;
	margin-right: 16px;
	transition: all .3s ease;
}

.rd-navbar-modern.rd-navbar-static .rd-navbar-nav {
	display: flex;
	flex-direction: row;
	margin-right: 10px;
	font-size: 0;
	line-height: 0;
	order: -1;
}


.rd-navbar-modern.rd-navbar-static .rd-nav-item + .rd-nav-item {
	margin-left: 0;
}

.rd-navbar-modern.rd-navbar-static .rd-navbar-search.active .rd-search .form-wrap {
	opacity: 1;
	max-width: 80%;
	transition-delay: .3s;
}

.rd-navbar-modern.rd-navbar-static .rd-navbar-project-hamburger {
	position: relative;
	width: 28px;
	height: 35px;
	padding: 6px 0;
	transition: all .3s ease;
	z-index: 10;
}

.rd-navbar-modern.rd-navbar-static .project-hamburger {
	display: none;
}

.rd-navbar-modern.rd-navbar-static .rd-navbar-main-element .project-close {
	display: none;
}

.rd-navbar-modern.rd-navbar-static .rd-navbar-modern-project .rd-navbar-project-hamburger {
	width: 38px;
	height: 38px;
	flex-shrink: 0;
	margin-left: 20px;
}

.rd-navbar-modern.rd-navbar-fixed .rd-navbar-project-hamburger {
	position: fixed;
	right: 4px;
	width: 48px;
	height: 48px;
	top: 4px;
	padding: 13px 6px 12px;
}

.rd-navbar-modern.rd-navbar-fixed .project-hamburger-2 {
	display: none;
}

.rd-navbar-modern.rd-navbar-fixed .rd-navbar-modern-project {
	padding-top: 60px;
}

.rd-navbar-modern.rd-navbar-fixed .rd-navbar-modern-project .rd-navbar-project-hamburger {
	display: none;
}

.rd-navbar-modern.rd-navbar-fixed .rd-navbar-modern-project-content {
	height: calc(100vh - 134px);
}

.rd-navbar-modern.rd-navbar-fixed * + .rd-navbar-search {
	margin-top: 10px;
}

.rd-navbar-project {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	background: #ffffff;
	transform: translateX(102%);
	box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.37);
	z-index: 1030;
}

.rd-navbar-project-content {
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
}

.rd-navbar-project-content::-webkit-scrollbar {
	width: 4px;
}

.rd-navbar-project-content::-webkit-scrollbar-thumb {
	background: rgba(237, 164, 7, 0.5);
	border: none;
	border-radius: 0;
}

.rd-navbar-project-content::-webkit-scrollbar-track {
	background: #f1efeb;
	border: none;
	border-radius: 0;
}

.rd-navbar-main.active .rd-navbar-project {
	transform: translateX(0);
}

.rd-navbar-modern-project {
	padding: 60px 15px 15px;
	width: 270px;
	font-size: 16px;
	line-height: 1.625;
	text-align: left;
	color: rgba(21, 21, 21, 0.5);
}

.rd-navbar-modern-project .subtitle {
	color: #3c6a36;
}

.rd-navbar-modern-project * + .instafeed {
	margin-top: 22px;
}

.rd-navbar-modern-project * + .row {
	margin-top: 30px;
}

.rd-navbar-modern-project * + .subtitle {
	margin-top: 20px;
}

.rd-navbar-project-modern-header {
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
}

.rd-navbar-project-modern-title {
	letter-spacing: .05em;
	margin-top: 5px;
}

.rd-navbar-modern-project-content {
	padding-right: 10px;
	margin-right: -10px;
	height: calc(100vh - 134px);
}

@media (min-width: 768px) {
	.rd-navbar-modern-project {
		width: 285px;
	}
}

@media (min-width: 992px) {
	.rd-navbar-modern-project {
		padding: 70px 30px 15px;
		width: 350px;
	}
	.rd-navbar-modern-project * + .subtitle {
		margin-top: 40px;
	}
	.rd-navbar-modern-project-content {
		height: calc(100vh - 144px);
	}
}

@media (min-width: 1200px) {
	.rd-navbar-modern-project {
		padding-top: 45px;
	}
	.rd-navbar-modern-project-content {
		height: calc(100vh - 119px);
	}
	* + .rd-navbar-modern-project-content {
		margin-top: 42px;
	}
}

@media (min-width: 1600px) {
	.rd-navbar-modern-project {
		padding: 65px 40px 15px;
		width: 400px;
	}
	.rd-navbar-modern-project-content {
		height: calc(100vh - 139px);
	}
}

@media (min-width: 1800px) {
	.rd-navbar-modern-project {
		padding: 26px 64px 15px 70px;
		width: 515px;
	}
	.rd-navbar-modern-project-content {
		height: calc(100vh - 169px);
	}
}

.rd-navbar-modern-contacts {
	text-align: left;
	font-size: 0;
	line-height: 0;
	padding-bottom: 34px;
	border-bottom: 1px solid #d7d7d7;
}

.rd-navbar-modern-contacts .icon {
	vertical-align: middle;
	text-align: left;
	min-width: 21px;
	font-size: 24px;
	line-height: 24px;
	color: #eda407;
}

.rd-navbar-modern-contacts .timing {
	font-size: 18px;
}

.rd-navbar-modern-contacts .link-phone {
	font-size: 18px;
	line-height: 1.34;
	letter-spacing: .025em;
}

.rd-navbar-modern-contacts a {
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	line-height: 1.72;
	letter-spacing: .025em;
}

.rd-navbar-modern-contacts a, .rd-navbar-modern-contacts a:focus, .rd-navbar-modern-contacts a:active {
	color: #151515;
}

.rd-navbar-modern-contacts a:hover {
	color: #3c6a36;
}

.rd-navbar-modern-contacts li + li {
	margin-top: 22px;
}

* + .rd-navbar-modern-contacts {
	margin-top: 50px;
}